::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track {background:#ccc;}
::-webkit-scrollbar-thumb {
    background:#FF9F29; border-radius:5px;
}
body {overflow-x:hidden; background:#000;}
/* -----------------------------------------------------고정 버튼 */
#top {
    position:fixed; right:0; bottom:0;
    z-index:999; width:70px; display:inline-block;
    margin:50px 50px;
}
#top img {width:100%;}
/*------------------------------------------------------- 헤더&로고 */
/* header {
    position:absolute; display:block; z-index:900;
    top:10px; left:45%;
}
header h1 {width:150px;}
header h1 .logo {}
header h1 .logo img {width:100%;} */
/* ------------------------------------------------------- 메인영상 글 */
.bg {
    position:relative;
    margin:0 auto; height:780px; overflow:hidden;
    display:flex; flex-flow:column nowrap;
    align-items:center;
}
.bg iframe {position:absolute;}
.bg .title {
    z-index:990;
    position:absolute; right:300px; top:30%;
}
.bg .title h1 {
    text-align:right; color:#fff;
    font-size:2.5rem; letter-spacing:-0.02em;
    line-height:1.5; font-weight:700;
    margin-bottom:-80px;
}
.bg .title p {width:400px;}
.bg .title p img {margin-left:50px; width:100%;}
/* -------------------------------------------------------- 나이키 소개 */
.history_wrap {
    width:1220px; display:flex; 
    margin:0 auto; justify-content:space-between;
    padding:100px 0; 
}
.history_wrap p {font-size:1.25rem; line-height:1.5;}
.history_wrap p:first-child {
    width:610px; 
}
.history_wrap p:last-child {
    color:#fff; width:600px;
    padding:40px 0 0 50px;
}
.history_wrap p img {width:100%;}
.history_wrap p em {
    font-size:4rem; font-weight:700; line-height:2;
}
/* --------------------------------------------------------- 신발광고 */
.shoes_wrap {
    display:flex;
    width:1220px; margin:0 auto;
    flex-flow:column nowrap; align-items:center;
}
.shoes_wrap .img {
    display:flex;
    flex-flow:row nowrap; justify-content:space-between;
}
.shoes_wrap .img a {
    width:610px; height:460px;
    overflow:hidden;
}
.shoes_wrap .img a img {width:100%;}
.shoes_wrap .contents {
    color:#fff; display:flex;
    flex-flow:column nowrap; align-items:center;
    padding:30px 0 50px 0; text-align:center;
}
.shoes_wrap .contents h2 {
    font-size:2rem; font-weight:700;
    padding-bottom:20px;
}
.shoes_wrap .contents p {text-align:center; line-height:2;}
.shoes_wrap .contents .btn {
    color:#fff;margin-top:50px;
    background:#FF9F29; padding:10px 50px 10px;
    font-size:1.63rem; margin-top:50px;
}
/*----------------------------------------------------------신발 배경 */
.bg_img {
    margin:0 auto; 
    position:relative; z-index:-999;
}
.bg_img p {
    width:500px; display:fixed; position:absolute;
    top:-800px; left:10px; display:block;
}
.bg_img p img{width:100%;}
/* ---------------------------------------------------------- 웨어 광고 */
.wear_wrap {
    margin:0 auto;
    display:flex; flex-flow:column nowrap;
    align-items:center;
}
.wear_wrap .img {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    overflow:hidden;
}
.wear_wrap .img a {
    width:40%; height:780px;
}
.wear_wrap .img a img {width:100%;}
.wear_wrap .contents {position:relative;}
.wear_wrap .contents img {
    display:flex;
    position:absolute; left:-700px; top:30px;
}
.wear_wrap .contents .contents_wrap {
    display:flex; flex-flow:column nowrap;
    align-items:center; padding:50px 0;}
.wear_wrap .contents .contents_wrap p {
    color: #fff; line-height:2;
    text-align:center;
}
.wear_wrap .contents .contents_wrap .btn {
    color:#fff;margin-top:50px;
    background:#FF9F29; padding:10px 50px 10px;
    font-size:1.63rem; 
}
/* ------------------------------------------------------------베스트 상품 */
body .best_wrap, body .new_wrap {background:#fff;}
.best_wrap {
    margin:0 auto;
    display:flex; flex-flow:column nowrap;
    align-items:center; 
}
.best_wrap h2 {
    text-align:center;
    font-size:4rem; font-weight:700;
    padding:100px 0;
}
.best_wrap .img {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.best_wrap .img a {
    width:250px;
    position:relative;
}
.best_wrap .img a:hover::before {
    background:rgba(0,0,0,0);
}
.best_wrap .img a::before {
    width:100%; height:100%;
    position:absolute; 
    content:''; display:block;
    background:rgba(0,0,0,0.5);
}
.best_wrap .img a img {width:100%;}
.best_wrap .left {
    width:100px; position:relative;
    top:-170px; left:-570px;
} 
.best_wrap .left img {width:100%;} 
.best_wrap .right {
    width:100px;
    position:relative;
    top:-270px; right:-570px;
} 
.best_wrap .right img {width:100%;} 
/* --------------------------------------------------best 배경 */
.best_wrap .bg_img1 {
    margin:0 auto; display:block;
    position:relative; z-index:990; display:block;
}
.best_wrap .bg_img1 p {
    width:800px; position:absolute;
    top:-600px; left:-1300px;
}
.best_wrap .bg_img1 p img {width:100%;}
.best_wrap .bg_img2 {
    margin:0 auto; display:block;
    position:relative; z-index:900; display:block;
}
.best_wrap .bg_img2 p {
    width:800px; position:absolute;
    top:200px; left:600px;
}
.best_wrap .bg_img2 p img{width:100%;}
/* -------------------------------------------------------------- new */
.new_wrap {
    margin:0 auto; display:flex;
    flex-flow:column nowrap;
    align-items:center;
    padding-bottom:50px;
}
.new_wrap .top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.new_wrap .top .t_left {
    display:flex; flex-flow:column nowrap;
}
.new_wrap .top .t_left h2 {
    font-size:3rem; font-weight:600;
    line-height:1.3;
}
.new_wrap .top .t_left a {
    width:100px; padding:50px 0;
}
.new_wrap .top .t_left a img {width:100%;}
.new_wrap .top .t_right {
    width:680px; display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-left:20px;
    z-index:900;
}
.new_wrap .top .t_right a {
    width:200px; margin-bottom:20px;
}
.new_wrap .top .t_right a img {width:100%;}
.new_wrap .bottom {
    margin:50px 0;
}
.new_wrap .bottom .more {
    color:#fff; background:#FF9F29;
    padding:10px 65px 10px;
    font-size:1.63rem; 
}
/* --------------------------------------------------------------- footer */
footer {
    margin:0 auto; padding:50px 0;
}
footer .fot_fnb {}
footer .fot_fnb .fnb_top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    padding-bottom:50px;
}
footer .fot_fnb .fnb_top .tp_left {margin:0 10px;}
footer .fot_fnb .fnb_top .tp_left p {color:#eee;}
/* footer .fot_fnb .fnb_top .tp_left p img {width:100%;} */
footer .fot_fnb .fnb_top .tp_right {}
footer .fot_fnb .fnb_top .tp_right a {
    color:#eee; padding-left:10px;
}
/* ------------------------------------------ ft2 */
footer .fot_fnb .fnb_btm {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    border-top:1px solid #888;
    padding:20px;
}
footer .fot_fnb .fnb_btm .left {
    display:flex; flex-flow:column nowrap;
}
footer .fot_fnb .fnb_btm .left p {
    color:#eee; font-size:0.875rem;
    line-height:1.3;
}
footer .fot_fnb .fnb_btm .left p:last-child {margin-top:50px;}
footer .fot_fnb .fnb_btm .left p span {}
footer .fot_fnb .fnb_btm .right {
    display:flex; flex-flow:column nowrap;
    margin-left:85px;
}
footer .fot_fnb .fnb_btm .right p {
    color:#eee; font-size:0.875rem;
    line-height:1.3;
}
footer .fot_fnb .fnb_btm .right p:last-child {margin-top:60px;}
footer .fot_fnb .fnb_btm .right p a {color:#eee;}
